/* style.css */

body {
    background-color: black;
    color: white;
    font-family: "Old Mysterious Font", cursive;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: justify;
  }
  
  .font-selector {
    text-align: center;
    margin-top: 20px;
  }