.big_header {
    padding: 10px;
    margin: 10px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    color: #fff;
    background-color: #111111e1;
}

.big_header h1{
    margin: 0px;
}

.big_header h2{
    margin: 0px;
    color: #666;
}

@media(max-width:1920px){
    .big_header h1{
        font-size: calc(8vw + 2rem);
    }

    .big_header h2{
        font-size: calc(1.25vw + 0.6rem);
    }
}

.btn{
    width: 80px;
    height: 45px;
    padding: 4px;
    margin: 5px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #3a3a3ac1;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 3px 3px 0 #fff;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }

.random .btn,.random h3{
  color: #2196F3;
}

.interactive .btn, .interactive h3{
  color: #ff0000;
}

.story .btn, .story h3{
  color: #22ff00;
}

.switch h3{
  color: #fff;
}

body{
    margin: 10;
    background: rgb(10, 10, 10);
}

#sketch-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

canvas {
  display: block;
}

label{
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 5px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #ffffff80;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .instagram-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }